.board-container {
  background-color: yellow;
  color: black;

  .board {
    border-color: blue;
    border-width: 1;
    border-style: solid;
    position: relative;
    width: calc(var(--tile-width) * var(--column-count));
    height: calc(var(--tile-height) * var(--row-count));

    &.showTileLabel {
      .tile {
        .label {
          display: block;
        }
      }
    }
  }
}
