.board-container {
  background-color: yellow;
  color: black;

  .board {
    position: relative;
    width: calc(var(--tile-width) * var(--column-count));
    height: calc(var(--tile-height) * var(--row-count));

    &.showTileLabel {
      .tile {
        .label {
          display: block;
          color: red;
        }

        &.isInHomePosition {
          .label {
            color: green;
          }
        }
      }
    }
  }
}
