.tile {
  position: absolute;
  transition: top 0.1s ease, left 0.1s ease;
  top: calc(var(--row-index) * var(--tile-height));
  left: calc(var(--column-index) * var(--tile-width));
  width: var(--tile-width);
  height: var(--tile-height);
  overflow: hidden;

  .label {
    display: none;
  }

  .backgroundImageContainer {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .backgroundImage {
      position: absolute;
    }
  }
}
